.dog-component {
  > button {
    margin-right: 0.5rem;
  }

  > input {
    border: 1px solid red;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
    width: 8rem;
  }

  > span {
    font-weight: bold;
  }
}
